<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <a href="/">Home</a>
    <a href="/items">Items</a>
    
    <form action="/items/<%= item._id %>?_method=PUT" method="post">
        <label> 
            Item Name: 
            <input type="text" name="itemName" value="<%= item.itemName%>">
        </label>
        <label> 
            Stats:
            <input type="text" name="stats" value="<%= item.stats%>">
        </label>
        <label> 
            Cost:
            <input type="text" name="cost" value="<%= item.cost%>">
        </label>
        <label> 
            Description: 
            <input type="text" name="description" value="<%= item.description%>">
        </label>
        <button type="submit">Submit Item</button>
    </form>
</body>
</html>